/*========================

CSS CODE
AUTOR: JUAN FRANCISCO LOPEZ MORALES

========================*/

/*========================
RESET
========================*/
*{
	padding: 0;
	margin: 0;
}

/*========================
GENERAL
========================*/
body{
	background-color: #e7ebec
}
#wrapper{
	width: 100%;
	overflow: hidden;
}
h1, h4{font-family: 'Squada One', cursive;}
p{
	font-family: 'Contrail One', cursive;
	color: #9a9a9a;
}
h4{
	font-size: 36px;
	color: #17202A;
	letter-spacing: 1px;
}
.cont-mov-nav{position: relative;}
.cont-mov-nav .mov{
	position: absolute;
	top: -60px;
}
html{scroll-behavior: smooth;}
/*========================
HEADER
========================*/
header{
	width: 100%;
	background-color: #17202A;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
header .cont-name{
	width: 1100px;
	margin: auto;
	margin-top: 20%;
	display: flex;
	position: relative;
}
header .cont-name .cont-iam{
	width: 50%;
	padding: 20px 0;
	padding-left: 20px;
	border-left: 8px solid #fff;
	transform: scaleY(0);
	transition: .5s;
}
header .cont-name .cont-iam .spanIam{
	display: block;
	font-size: 49px;
	font-family: 'Squada One', cursive;
	color: #fff;
	transform: translateX(30%);
	transition: .7s;
	opacity: 0;
}
/*=======BTN=======*/
#btnHeader{
	width: 170px;
	margin-top: 20px;
	transform: scale(0);
	transition: .8s;
}
#btnHeader .btn-header{
	position: relative;
	padding: 15px 30px;
	display: inline-block;
	letter-spacing: 2px;
	text-decoration: none;
	color: #F1C40F;
	font-family: 'Francois One', sans-serif;
	font-weight: bold;
	transition: .4s;
	overflow: hidden;
}
#btnHeader .btn-header:hover{
	background-color: #F1C40F;
	color: #000;
	box-shadow: 0 0 5px #F8D341,
				0 0 10px #F8D341,
				0 0 15px #F8D341;
	transition-delay: .6s;
}
#btnHeader .btn-header span{
	position: absolute;
	display: block;
}
#spanBtnHeader1{
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #F8D341);
	transition: .6s;
}
#btnHeader .btn-header:hover #spanBtnHeader1{
	left: 100%;
}
#spanBtnHeader2{
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #F8D341);
	transition: .6s;
}
#btnHeader .btn-header:hover #spanBtnHeader2{
	top: 100%;
	transition-delay: .15s;
}
#spanBtnHeader3{
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #F8D341);	
	transition: .6s;
}
#btnHeader .btn-header:hover #spanBtnHeader3{
	right: 100%;
	transition-delay: .15s;
}
#spanBtnHeader4{
	bottom: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(369deg, transparent, #F8D341);
	transition: .6s;
}
#btnHeader .btn-header:hover #spanBtnHeader4{
	bottom: 100%;
	transition-delay: .45s;
}
/*===============*/
header .cont-name .cont-svg{
	width: 50%;
	position: absolute;
	right: 0;
	top: -190px;
	transform: scale(0);
	transition: .8s;
}
header .cont-name .cont-svg .style-svg{
	width: 100%;
	color: red;
}
/*===========================*/
#Vector_4{animation: colorUno 10s infinite linear;}
#Vector_6{animation: colorUno 10s infinite linear;}
#Vector_12{animation: botonTres 6s infinite linear;}
#Vector_13{animation: botonDos 6s infinite linear;}
#Vector_14{animation: botonUno 6s infinite linear;}
#Vector_27{animation: codeUno 9s infinite linear;}
#Vector_28{animation: codeDos 9s infinite linear;}
#zapatos1{animation: colorUno 10s infinite linear;}
#zapatos2{animation: colorUno 10s infinite linear;}
@keyframes botonTres{
	0%{fill: red;}
	50%{fill: white;}
}
@keyframes botonDos{
	0%{fill: white;}
	40%{fill: red;}
}
@keyframes botonUno{
	0%{fill: white;}
	80%{fill: red;}
}
@keyframes colorUno{
	0%{fill: #D138CB;}
	35%{fill: #F1C40F;}
	70%{fill: #229954;}
	100%{fill: #7D3C98;}
}
@keyframes codeUno{
	0%{fill: #2980B9;}
	35%{transform: translateX(2%);}
	100%{fill: #E74C3C;}
}
@keyframes codeDos{
	0%{fill: #F1C40F;}
	35%{transform: translateX(-2%);}
	100%{fill: #138D75;}
}
/*===========================*/


/*========================
NAV
========================*/
header nav{
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 9999;
}
.cont-logo{
	position: absolute;
	left: 0;
	top: 6px;
	display: flex;
}
.cont-logo a{
	display: flex;
	text-decoration: none;
}
.cont-logo .cont-line-logo{
	width: 30px;
	height: 17px;
	margin-top: 9px;
}
.cont-logo .cont-line-logo div{
	width: 30px;
	height: 3px;
	background: linear-gradient(270deg, transparent, #F1C40F);
}
.cont-logo .cont-line-logo .line-logo1{
	width: 30px;
}
.cont-logo .cont-line-logo .line-logo2{
	width: 20px;
	margin-top: 4px;
}
.cont-logo .cont-line-logo .line-logo3{
	width: 10px;
	margin-top: 4px;
}
nav strong{
	font-size: 25px;
	font-weight: bold;
	font-family: 'Francois One', sans-serif;
	color: #fff;
	margin-left: 5px;
}
.color-logo{
	color: #F1C40F;
}
.cont-nav{
	width: 1100px;
	height: 60px;
	margin: auto;
	position: relative;
}
.nav1{
	position: absolute;
	right: 0;
	top: 13px;
	list-style: none;
}
.nav1 li{
	float: left;
	margin-left: 30px;
	height: 50px;
	overflow: hidden;
}
.nav1 li a{
	font-family: 'Squada One', cursive;
	font-size: 19px;
	color: #fff;
	text-decoration: none;
}
.cont-line-nav{
	position: relative;
}
.nav1 li .nav-line{
	width: 100%;
	transform: translateX(-100%);
	height: 4px;
	background: linear-gradient(180deg, transparent, #F1C40F);
	transition: .6s;
	margin-top: 10px;
	position: absolute;
	opacity: 0;
}
.nav1 li:hover .navHoverLine{
	transform: translateX(0%);
	opacity: 1;
}
#line-active1{
	transform: translateX(0%); 
	opacity: 1;
}
/*========================
NAV 2 
========================*/
#cont-nav2{
	width: 40px;
	height: 35px;
	/*background-color: #808B96; color morado del menu*/
	position: absolute;
	right: 20px;
	top: 12px;
	cursor: pointer;
	transition: .5s;
	display: none;
}
#cont-nav2 .cont-icon-nav2{position: relative;}
#cont-nav2 .cont-icon-nav2 i{
	position: absolute;
	transform: scale(1.9);
	top: 10px;
	left: 12px;
	color: #F1C40F;
	transition: .5s;
}
#cont-nav2 .cont-icon-nav2 .close{opacity: 0;}
.contNavUl2{
	position: absolute;
	right: 55px;
	top: 12px;
	display: none;
}
.nav2{
	background-color: #808B96;
	list-style: none;
	height: 275px;
	opacity: 0;
	transition: .5s;
}
.nav2 li{
	font-family: 'Squada One', cursive;
	height: 32px;
	width: 290px;
	border-bottom: 1px solid #F1C40F;
	padding-top: 13px;
	padding-left: 10px;
	display: flex;
	font-size: 19px;
}
.nav2 li a{
	text-decoration: none;
	color: #17202A;
}
.nav2 li .contIconNav2{
	width: 30px;
	color: #17202A;
}
.nav2 .li1{
	height: 27px;
	font-size: 24px;
	border-bottom-color: rgba(0,0,0,0);
	padding-top: 7px;
}
.nav2 .li2Top{margin-top: 10px;}
/*========================
MAIN
========================*/
main{
	width: 100%;
}
.line{
	width: 50px;
	height: 3px;
	/*background-color: #273746; color azul*/
	background-color: #F1C40F;
	margin-top: 5px;
	transform: scaleX(0);
	transition: .7s;
}

/*-------Block 1-------*/
main #mainBlock1{
	padding: 3% 0;
	background-color: #f5f5f5;
}
#block1{
	width: 1100px;
	margin: auto;
	display: flex;
}
#block1 .cont-profile{
	width: 46%;
	padding: 0 2%;
	padding-top: 70px;
	overflow: hidden;
}
#block1 .cont-profile span{
	width: 74px;
	font-family: 'Contrail One', cursive;
	font-weight: bold;
	color: #273746;
	font-size: 14px;
	display: block;
	transition: .8s;
}
.scroll1Block1{transform: scale(0);} 
.scroll2Block1{
	transform: translateX(50%);
	transition: 1s;
	opacity: 0;
}
#imgResponsive{
	width: 250px;
	height: 250px;
	margin: auto;
	transition: .6s;
	opacity: 0;
	margin-top: 10px;
	display: none;
}
#imgResponsive img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	margin-top: 10px;
}
#block1 .cont-profile p{
	margin-top: 19px;
	transform: translateX(50%);
	transition: 1.4s;
	opacity: 0;
}
#btnCV{
	width: 130px;
	height: 45px;
	position: relative;
	margin-top: 20px;
	background-color: #F1C40F;
	transform: scale(0);
	transition: .9s;
}
#btnCV a{
	display: block;
	height: 32px;
	width: 100%;
	position: relative;
	text-decoration: none;
	color: #DADCDB;
	font-family: 'Squada One', cursive;
	text-align: center;
	position: absolute;
	padding-top: 13px;
	transition: .7s;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 17px; 
}
#spanBtnBlock1{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #1C2833;
	transition: .7s;
}
#btnCV:hover #spanBtnBlock1{transform: scaleX(0);}
#btnCV:hover a{color: #000;}	
#block1 .cont-profile-image{
	width: 50%;
	height: 402px;
	padding-top: 10px;
	transform: scale(0);
	transition: 1s;
}
.circle1{
	width: 394px;
	height: 394px;
	border-radius: 50%;
	border: 3px solid  #546678;
	border-left-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0);
	margin-left: 110px;
	transform: rotate(150deg);
}
.circle2{
	width: 344px;
	height: 344px;
	border-radius: 50%;
	border: 3px solid #EDD163;
	border-left-color: rgba(0,0,0,0);
	border-right-color: #546678;
	margin-top: 23px;
	margin-left: 23px;
}
.circle3{
	width: 294px;
	height: 294px;
	border-radius: 50%;
	border: 3px solid #EDD163;
	border-bottom-color: rgba(0,0,0,0);
	border-top-color: rgba(0,0,0,0);
	border-left-color: #546678;
	margin-top: 23px;
	margin-left: 23px;
}
.circle3 img{
	width: 90%;
	height: 90%;
	border-radius: 50%;
	margin-top: 5%;
	margin-left: 5%;
	transform: rotate(210deg);
}
/*-------Block 2-------*/
#cont-block2-text{
	width: 1100px; 
	margin: auto;
	margin-top: 30px;
}
#cont-block2-text p{
	margin-top: 19px;
	transition: 1s;
}
.scroll1Block2{
	transform: translateX(40%);
	transition: 1s;
	opacity: 0;
}
.scrollBlock2{
	transform: scale(0);
	transition: 1s;
}
main #block2{
	width: 1100px;
	margin: auto;
	margin-top: 10px;
	position: relative;
}
#block2 .btnSlider{
	width: 33px;
	height: 33px;
	border-radius: 2px;
	cursor: pointer;
	position: absolute;
	top: 150px;
	background-color: rgba(241,196,15,0.8);
	transition: .7s;
	opacity: 0;
	z-index: 200;
}
#block2 .btnSlider i{
	transform: scale(2);
	margin-top: 9px;
	margin-left: 12px;
	color: #17202A;
	transition: .7s;
}
#block2 .btnSlider:hover{background-color: #17202A;}
#block2 .btnSlider:hover i{color: #F1C40F;}
#block2 .leftBtn i{margin-left: 15px;}
#btn-slider-left{left: -55px;}
#btn-slider-right{right: -55px;}
#block2 #slider-project{
	width: 100%;
	overflow: hidden;
}
.scroll2Block2{
	transform: scaleX(0);	
	opacity: 0;
}
#block2 .projects{
	width: 1820px;
	height: 250px;
	margin-top: 40px;
	margin-left: -360px;
	display: flex;
	opacity: 0;
}
.projects .cont-project{
	width: 340px;
	margin-left: 20px;
	position: relative;
	overflow: hidden;
}
.projects .cont-project .project-image{
	width: 340px;
	height: 250px;
	transition: .6s;
}
.projects .cont-project .project-image img{
	width: 100%;
	height: 100%;
	transition: .8s;
}
.projects .cont-project .project-hidden{
	width: 340px;
	height: 210px;
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,.4);
	color: white;
	text-align: center;
	padding-top: 40px;
	opacity: 0;
	transition: .6s;
	overflow: hidden;
}
.projects .cont-project .project-hidden span{
	display: block;
	font-family: 'Contrail One', cursive;
	font-size: 27px;
	transform: translate(37%, -100%);
	transition: 1s;
	opacity: 0;
}
.projects .cont-project .project-hidden p{
	transform: translate(-40%, 250%);
	transition: 1s;
	opacity: 0;
	margin-top: 9px;
	color: #fff;
}
.project-hidden .cont-btn{
	display: flex;
	justify-content: space-around;
	width: 280px;
	margin: auto;
	margin-top: 30px;
}
.project-hidden .cont-btn .btnProject{
	transform: scale(0);
	transition: 1.5s;
	opacity: 0;
	width: 100px;
	height: 38px;
	border: 1px solid #F1C40F;
	position: relative;
}
.project-hidden .cont-btn .contActiveProject{background-color: #17202A;}
.project-hidden .cont-btn .btnProject .conBtnColor{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #F1C40F;
	transform: scaleX(0);
	transition: .7s;
}
.project-hidden .cont-btn .btnProject .activeProject{
	background-color: #F1C40F;
	transform: scaleX(1);
}
.project-hidden .cont-btn .btnProject a{
	width: 100%;
	height: 29px;
	display: block;
	padding-top: 9px;
	color: #F1C40F;
	text-decoration: none;
	font-family: 'Squada One', cursive;
	transition: .7s;
	position: absolute;
}
.project-hidden .cont-btn .contActiveProject{border-color: #F1C40F;}
.project-hidden .cont-btn .contActiveProject a{color: #000;}
.projects .cont-project:hover .project-image{filter: blur(10px);}
.projects .cont-project:hover .project-hidden{opacity: 1;}
.projects .cont-project:hover .project-hidden span{
	transform: translate(0%, 0%);
	opacity: 1;
}
.projects .cont-project:hover .project-hidden p{
	transform: translate(0%, 0%);
	opacity: 1;
}
.projects .cont-project:hover .project-hidden .cont-btn .btnProject{
	transform: scale(1);
	opacity: 1;
}
.project-hidden .cont-btn .btnProject:hover .conBtnColor{transform: scaleX(1);}
.project-hidden .cont-btn .btnProject:hover a{color: #000;}
.project-hidden .cont-btn .btnProject:hover .activeProject{transform: scale(0);}
.project-hidden .cont-btn .contActiveProject:hover{border-color: #17202A;}
.project-hidden .cont-btn .contActiveProject:hover a{color: #fff;}
/*-------Block 3-------*/
main #block3{
	width: 100%;
	background-color: #17202A;
	margin-top: 70px;
	padding-top: 40px;
	padding-bottom: 50px;
}
#block3 #cont-block3{
	width: 1100px;
	margin: auto;
}
#cont-block3 h4{
	color: #fff;
	transition: 1s;
	transform: scale(0);
	opacity: 0;
}
#cont-block3 p{
	margin-top: 19px; 
	color: #DADCDB;
	transform: scaleX(0);
	transition: .9s;
	opacity: 0;
}
#cont-block3 .cont-icon{
	width: 70%;
	display: flex;
	justify-content: space-around;
	margin: auto;
	overflow: hidden;
}
#cont-block3 .pad-icon1{
	padding-top: 15px;
	margin-top: 20px;
}
#cont-block3 .pad-icon2{padding-bottom: 30px;}
#cont-block3 .cont-icon .section-icon{
	width: 100px;
	height: 100px;	
	position: relative;
	transition: 1s;
	transform: translateY(100%);
	opacity: 0;
}
#cont-block3 .cont-icon .section-icon .div-icon1{
	width: 100%;
	height: 100%;
	position: absolute;
	transition: .7s;
}
#cont-block3 .cont-icon .section-icon .div-icon2{
	width: 100%;
	height: 100%;
	position: absolute;
	transform: scale(0);
	transition: .7s;
	opacity: 0;
}
#cont-block3 .cont-icon .section-icon:hover .div-icon2{
	transition-delay: .4s;
	transform: scale(1);
	opacity: 1;
}
#cont-block3 .cont-icon .section-icon:hover .div-icon1{
	transition-delay: .1s;
	transform: scale(0);
	opacity: 0;
}
#cont-block3 .cont-icon .section-icon i{
	transform: scale(4);
	margin-top: 40px;
	margin-left: 43px;
	color: #DADCDB;
}
#cont-block3 .cont-icon .section-icon .left1{margin-left: 44px;}
#cont-block3 .cont-icon .section-icon .left2{margin-left: 44px;}
#cont-block3 .cont-icon .section-icon .left3{margin-left: 39px;}
#cont-block3 .cont-icon .section-icon .color-icon1 i{color: #F9731B;}
#cont-block3 .cont-icon .section-icon .color-icon2 i{color: #1B62F9;}
#cont-block3 .cont-icon .section-icon .color-icon3 i{color: #F0DD1B;}
#cont-block3 .cont-icon .section-icon .color-icon4 i{color: #000000;}
#cont-block3 .cont-icon .section-icon .color-icon5 i{color: #7C39E4;}
#cont-block3 .cont-icon .section-icon .color-icon6 i{color: #7169FB;}
#cont-block3 .cont-icon .section-icon .color-icon7 i{color: #E91B0E;}
#cont-block3 .cont-icon .section-icon .line-skill{
	width: 0;
	height: 3px;
	margin: auto;
	position: absolute;
	transition: 1s;
	background: linear-gradient(180deg, transparent, #F8D341);
	bottom: 0;
	box-shadow: 0 0 5px #F1C40F;
}
#cont-block3 .cont-icon .section-icon:hover .line-skill{
	transform: scaleX(0);
	opacity: 0;
}
/*-------Block 4-------*/
main #mainBlock4{
	background-color: #f5f5f5;
	padding: 3% 0;
}
#block4{
	width: 1100px;
	margin: auto;
	display: flex;
}
#block4 .section-exp{
	width: 46%;
	padding: 2% 2%;
	overflow: hidden;
}
#block4 .sect1{
	width: 48%;
	padding: 0 0;
	padding-right: 2%;
	padding-top: 20px;
}
.scroll1Block4{
	transition: .9s;
	transform: translateX(-70%);
	opacity: 0;
}
#block4 .sect1 span{color: #F1C40F;}
#block4 .sect1 p{
	margin-top: 20px;
	transform: scaleX(0);
	transition: .9s;
	opacity: 0;
}
#block4 .sect1 ul{
	font-family: 'Contrail One', cursive;
	color: #85898A;
	margin-top: 15px;
	transform: translateX(70%);
	transition: .9s;
	opacity: 0;
}
#block4 .sect1 ul li{
	margin-left: 40px;
}
#block4 .sect2{
	padding: 0 0;
	width: 50%;
	overflow: hidden;
}
#sect2-img{
	width: 90%;
	position: relative;
	margin-left: 13%;
}
#sect2-img img{
	width: 100%;
	transform: scale(0);
	transition: 1s;
}
#sect2-img div{
	width: 70px;
	height: 70px; 
	position: absolute;
	transform: scale(0);
	transition: 1s;
}
#sect2-img .line-exp1{
	top: 20px;
	right: 20px;
	border-right: 3px solid #F1C40F;
	border-top: 3px solid #F1C40F; 
}
#sect2-img .line-exp2{
	bottom: 20px;
	left: 20px;
	border-left: 3px solid #F1C40F;
	border-bottom: 3px solid #F1C40F;  
}
#sect2-img .line-exp3{
	top: 20px;
	left: 20px;
	border-left: 3px solid #17202A;
	border-top: 3px solid #17202A; 
}
#sect2-img .line-exp4{
	bottom: 20px;
	right: 20px;
	border-right: 3px solid #17202A;
	border-bottom: 3px solid #17202A;  
}
/*-------Block 5-------*/
#block5{
	width: 1100px;
	margin: auto;
	margin-top: 30px;
}
.scroll1Block5{
	transition: .9s;
	transform: scale(0);
}
#block5 form{
	width: 95%;
	display: flex;
	margin: auto;
	background-color: #17202A;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 35px;
	box-shadow: 0 6px 15px rgba(23,32,42,.6);
}
#block5 form label{
	font-weight: bold;
	font-family: 'Contrail One', cursive;
	color: #F1C40F;
	display: block;
	margin-top: 10px;
	transition: .9s;
	transform: scale(0);
}
#block5 form input{
	width: 98%;
	height: 30px; 
	padding: 0 2%;
	font-family: 'Contrail One', cursive;
	font-size: 16px;
	transform: scaleX(0);
	transition: 1s;
}
#block5 form textarea{
	min-width: 98%;
	max-width: 98%;
	min-height: 100px;
	max-height: 100px;
	padding: 2% 2%;
	font-family: 'Contrail One', cursive;
	font-size: 16px;
	transform: scale(0);
	transition: 1s;
}
#block5 form .cont-con{
	width: 42%;
	padding: 0 4%;
}
#btnContact{
	width: 90px;
	height: 35px;
	border: none;
	border: 1px solid #F1C40F;
	font-weight: bold;
	margin-top: 10px;
	color: #F1C40F;
	background-color: #F1C40F;
	font-family: 'Francois One', sans-serif;
	letter-spacing: 2px;
	cursor: pointer;
	position: relative;
	transition: .7s;
	transform: translateX(50%);
	opacity: 0;
}
#btnContact strong{
	width: 100%;
	position: absolute;
	display: block;
	text-align: center;
	padding-top: 5px;
	top: 0;
	transition: .7s
}
#btn-cont-hov{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	background-color: #17202A;
	transition: .7s;
}
#btnContact:hover{box-shadow: 0 0 5px #F1C40F;}
#btnContact:hover #btn-cont-hov{transform: scaleX(0);}
#btnContact:hover strong{color: #17202A;}

/*section up*/
.cont-bottom{
	position: relative;
	bottom: 0;	
	z-index: 9999;
}
.cont-bottom .up{
	width: 35px;
	height: 35px;
	position: fixed;
	bottom: 20px;
	right: 15px;
	border-radius: 4px;
	border: 1px solid #A0AAAC;
	transform: scale(0);
	transition: .4s;
}
.cont-bottom .up a{
	display: block;
	width: 40px;
	height: 40px;
	color: #A0AAAC;
}
.cont-bottom .up a i{
	transform: scale(2);
	margin-top: 8px;
	margin-left: 13px;
}
.cont-bottom .cont-redes-bottom{
	width: 20px;
	position: fixed;
	bottom: 10px;
	left: 25px;
	transform: scaleY(0);
	transition: .4s;
	opacity: 0;
}
.cont-bottom .cont-redes-bottom .line-redes{
	width: 2px;
	height: 90px;
	background: linear-gradient(180deg, transparent, rgb(241, 196, 15));
	margin: auto;
}
.cont-bottom .cont-redes-bottom a{
	display: block;
	padding: 3px 0;
	color: #85898A;
}
.cont-bottom .cont-redes-bottom a .bottom-red1{margin-left: 3px;}
.cont-bottom .cont-redes-bottom a .bottom-red2{margin-left: 3px;}
.cont-bottom .cont-redes-bottom a .bottom-red3{margin-left: 2px;}
/*========================
FOOTER
========================*/
footer{
	margin-top: 100px;
	padding-top: 60px;
	position: relative;
	background-color: #17202A;
	opacity: 0;
	transform: .9s;
}
footer .cont-foot1{
	width: 1100px;
	margin: auto;
	position: relative;
	height: 40px;
	border-bottom: 1px solid #F1C40F;	
}
/*===== logo =====*/
footer .cont-foot1 .cont-logo{
	top: -40px;
	left: 0px;
}
footer .cont-foot1 strong{
	font-size: 25px;
	font-weight: bold;
	font-family: 'Francois One', sans-serif;
	margin-left: 5px;
	color: #fff;
}
footer .cont-foot1 .cont-logo .cont-line-logo div{background: linear-gradient(270deg, transparent, #F1C40F);}
#color-logo2{color: #F1C40F;}
/*======================*/
.color-icon{color: #fff;}
footer .cont-foot1 .sect-foot1{
	position: absolute;
	display: flex;
}
footer .cont-foot1 .sect-foot1 p{margin-top: 4px; color: #DADCDB;}
footer .cont-foot1 .sect-foot1 a{
	font-family: 'Contrail One', cursive;
	color: #DADCDB;
	margin-top: 4px;
	text-decoration: none;
}
#footOcult{display: none;}
footer .cont-foot1 .sect-foot1 span{
	font-weight: bold;
	font-size: 20px;
	padding: 0 4px;
	color: #F1C40F;
}
footer .cont-foot1 .sect-foot2{
	position: absolute;
	right: 0;
	display: flex;
}
footer .cont-foot1 .sect-foot2 .iconCont{
	transform: scale(1.6);
	padding: 0 8px;
	padding-top: 5px;
}
footer .cont-foot1 .sect-foot2 .iconCont a{color: #DADCDB;}
footer .cont-foot2{
	width: 1100px;
	margin: auto;
	text-align: center;
	padding: 10px 0;
}
footer .cont-foot2 p{color: #DADCDB;}

/*============= Fonts ==============*/
@font-face{
	font-family: "Squada One";
	src: url(../fonts/SquadaOne-Regular.ttf),
	url("../fonts/SquadaOne-Regular.otf"),
	url("../fonts/AnyConv.com__SquadaOne-Regular.eot");
}
@font-face{
	font-family: "Contrail One";
	src: url(../fonts/ContrailOne-Regular.ttf),
	url("../fonts/ContrailOne-Regular.otf"),
	url("../fonts/AnyConv.com__ContrailOne-Regular.eot");
}
@font-face{
	font-family: "Francois One";
	src: url(../fonts/FrancoisOne-Regular.ttf),
	url("../fonts/FrancoisOne-Regular.otf"),
	url("../fonts/AnyConv.com__FrancoisOne-Regular.eot");
}